<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>464467500091-mfujt83frf90i5r5h52rcslg2i92n1sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464467500091-mfujt83frf90i5r5h52rcslg2i92n1sq</string>
	<key>API_KEY</key>
	<string>AIzaSyAXCaz0JwZgqr3xB-g_BGAUdsymY_Gk9qI</string>
	<key>GCM_SENDER_ID</key>
	<string>464467500091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>casio.Instgram.Instgram</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-b0819</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-b0819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464467500091:ios:cd931f1656abd666</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-b0819.firebaseio.com</string>
</dict>
</plist>